body {
    font-family: 'Cabin', sans-serif;
    background-image: url("../img/noisy_grid.png");
}

#mainTitle {
    padding-top: 250px;
    padding-left: 100px;
    margin: auto;
}

#mainTitle img {
    float: left;
    max-height: 150px;
}
#mainTitle h1 {
    float: left;
    font-size: 150px;
    padding-left: 10px;
}

#loginButton {
    float: left;
    padding-top: 50px;
    padding-left: 200px;
}

#myCanvas {
	position: absolute;
	top: 20px;
	left: 50%;
	margin-left: -350px;
}

#header {
    margin-top: 20px;
}

#header #logo {
    float: left;   
    padding-left: 20px; 
}
    #header #logo img {
        float: left;
        max-height: 70px;
    }
    #header #logo h1 {
        float: left;
        font-weight: bold;
        font-size: 40px;
        padding-left: 5px;
        padding-top: 15px;
    }

#header #user {
    float: right;
    padding-right: 20px;
}
    #header #user img {
        float: left;
        max-height: 50px;
        -webkit-border-radius: 50em;
        -moz-border-radius: 50em;
        border-radius: 50em;
    }
    #header #user h2 {
        float: left;
        font-size: 20px;
        padding-left: 5px;
        padding-top: 15px;
    }
    #header #user #logout {
        cursor: pointer;
    }
    #header #user #logout:hover {
        color: #FF6347;
    }

.modal {
	display: none;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 20% 10%;
	background-color: rgba(255, 255, 255, 0.65);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.modal h1 {
	text-align: center;
	width: 100%;
	font-size: 80px;
	font-weight: bold;
	color: #6A5ACD;
	margin-bottom: 10px;
}

.modal h2 {
	text-align: center;
	width: 100%;
	font-size: 66px;
	font-weight: bold;
	color: #FF6347;
}